<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/settings.css">
    <title>Definicoes</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">

            <ul class="nav-items">
                <li class="item">
                    <a href="/home">
                        <i class="fas fa-arrow-left"></i>
                        <p>Voltar</p>
                    </a>
                </li>
            </ul>

            <span class="subtitle">
                <h2>Definicoes</h2>
            </span>

            <div class="user">
                <img src="/assets/images/user.jpeg" alt="">
            </div>
        </nav>
    </header>


    <section class="settings-section">
        <ul class="setting-options">
            <li class="setting-option">
                <a href="#">Conta</a>
                <i class="fas fa-user"></i>
            </li>
            <li class="setting-option">
                <a href="#">Privacidade</a>
                <i class="fas fa-lock"></i>
            </li>
            <li class="setting-option">
                <a href="#">Ajuda</a>
                <i class="fas fa-circle-exclamation"></i>
            </li>
            <li class="setting-option">
                <a href="#">Sair</a>
                <i class="fas fa-arrow-right-from-bracket"></i>
            </li>
            <li class="setting-option">
                <a href="#">Sobre</a>
                <i class="fas fa-circle-question"></i>
            </li>
        </ul>
    </section>
</body>

</html>