@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --card-padding: 10px 20px;
    --card-border-radius: 5px;
    --card-bg: #ffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    font-weight: bold;
    background-color: var(--card-bg);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

p {
    text-align: center;
    color: #666;
}