<header class="header">
    <nav class="nav">
        <div class="logo">
            <img src="/assets/images/logo.jpeg" alt="Logo">
            <h3>
                <%= appname %>
            </h3>
        </div>

        <div class="signup">
            <button  class="change-screen">
                <i class="fas fa-circle-user"></i>
                <%= link %>
            </button>
        </div>
    </nav>
</header>