<header class="main-header">
    <nav>
        <div class="logo">
            <img src="/assets/images/logo.jpeg" alt="Logo">
            <h3>EasyClass</h3>
        </div>
        <div class="search-bar">
            <input type="text" id="search-value" placeholder="pesquisar" />
            <i class="icon fas fa-magnifying-glass" id="icon-search" aria-label="pesquisar" title="pesquisar"></i>

            <div class="search-results hidden">
                <h2>Resultados Correspondentes</h2>
                <!-- <spant>sem resultados</span> -->
            </div>
        </div>

        <div class="user-info">
            <section class="user-container">
                <span class="notifications" id="toggleNotificationPanel">
                    <i class="bell fas fa-bell"></i>
                    <span class="notification-badge">
                        <p>+12</p>
                    </span>
                </span>

                <div class="user-img">
                    <img src="/assets/images/user.jpeg" alt="foto do usúario">
                </div>
            </section>
        </div>

        <div class="notification-panel hidden cardAnimation">
            <div class="notification-header">
                <span><i class="fas fa-bell"></i></span>
                <h2>Notificações Recentes</h2>
                <span class="close-notification-panel"><i class="fas fa-xmark"></i></span>
            </div>

            <section class="notifications-items">
                <!-- <div class="notification-list">
                    <div class="notification">
                        <span class="see-more-dots action">
                            <i class="fas fa-bars"></i>
                        </span>
                        <div class="notification-action hide cardAnimation">
                            <div class="actions-buttons">
                                <button class="delete-notification">
                                    apagar notificacao
                                    <i class="bi bi-trash"></i>
                                </button>
                                <button class="mark-as-read">
                                    marcar como lido
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>

                        <span class="person-notification-name">
                            <h2>Mario Estima</h2>|<p>Hoje</p>
                        </span>

                        <article>
                            <p class="notification-content">
                                Mario Estima enviou uma materia a classe
                            </p>
                        </article>
                    </div>

                    <div class="notification">
                        <span class="see-more-dots">
                            <i class="fas fa-bars action"></i>
                        </span>

                        <div class="notification-action hide cardAnimation">
                            <div class="actions-buttons">
                                <button class="delete-notification">
                                    apagar notificacao
                                    <i class="bi bi-trash"></i>
                                </button>
                                <button class="mark-as-read">
                                    marcar como lido
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>

                        <span class="person-notification-name">
                            <h2>Mario Estima</h2>|<p>Hoje</p>
                        </span>

                        <article>
                            <p class="notification-content">
                                Mario Estima enviou uma materia a classe
                            </p>
                        </article>
                    </div>

                    <div class="notification">
                        <span class="see-more-dots action">
                            <i class="fas fa-bars action"></i>
                        </span>

                        <div class="notification-action hide cardAnimation">
                            <div class="actions-buttons">
                                <button class="delete-notification">
                                    apagar notificacao
                                    <i class="bi bi-trash"></i>
                                </button>
                                <button class="mark-as-read">
                                    marcar como lido
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>

                        <span class="person-notification-name">
                            <h2>Mario Estima</h2>|<p>Hoje</p>
                        </span>

                        <article>
                            <p class="notification-content">
                                Mario Estima enviou uma materia a classe
                            </p>
                        </article>
                    </div>

                    <div class="notification">
                        <span class="see-more-dots action">
                            <i class="fas fa-bars"></i>
                        </span>

                        <div class="notification-action hide cardAnimation">
                            <div class="actions-buttons">
                                <button class="delete-notification">
                                    apagar notificacao
                                    <i class="bi bi-trash"></i>
                                </button>
                                <button class="mark-as-read">
                                    marcar como lido
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>

                        <span class="person-notification-name">
                            <h2>Mario Estima</h2>|<p>Hoje</p>
                        </span>

                        <article>
                            <p class="notification-content">
                                Mario Estima enviou uma materia a classe
                            </p>
                        </article>
                    </div>

                    <div class="notification">
                        <span class="see-more-dots action">
                            <i class="fas fa-bars"></i>
                        </span>

                        <div class="notification-action hide cardAnimation">
                            <div class=" actions-buttons">
                                <button class="delete-notification">
                                    apagar notificacao
                                    <i class="bi bi-trash"></i>
                                </button>
                                <button class="mark-as-read">
                                    marcar como lido
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>

                        <span class="person-notification-name">
                            <h2>Mario Estima</h2>|<p>Hoje</p>
                        </span>

                        <article>
                            <p class="notification-content">
                                Mario Estima enviou uma materia a classe
                            </p>
                        </article>
                    </div>
                </div> -->
            </section>
        </div>

    </nav>
</header>