<div class="my-material-card">
    <div class="img-wrapper">
        <img src="/assets/images/banner.jpeg" alt="">
        <span class="approved-heart">
            <i class="fas fa-heart"></i>
        </span>
        <h2>
            <%= username %>
        </h2>
        <div class="img-overlay"></div>
        <p class="hidden cardAnimation">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur dolor fuga
            asperiores tenetur earum illum similique eveniet assumenda voluptatem neque, nesciunt
            molestias praesentium dignissimos, laboriosam a perferendis. Molestiae, tempora!
        </p>
    </div>
    <div class="card-content">
        <span class="materia-informacao">
            <p id="disciplina">
                <%= discipline %>
            </p>
            <p id="sumario">
                <%= summary %>
            </p>
            <p id="data">
                <%= date %>
            </p>
        </span>

        <div class="buttons">
            <button class="comment-btn">feedbacks <i class="fas fa-comment"></i></button>
            <button class="preview-btn">Visualizar <i class="fas fa-pen-to-square"></i></button>
        </div>
    </div>
</div>