<div class="my-material-card">
    <div class="img-wrapper">
        <!-- se no caso de um usuario enviar uma colecao de imagems a primeira imagem da colecao sera o banner do card -->
        <img src="/assets/images/banner.jpeg" alt="">
        <span class="approved">
            <i class="fas fa-star"></i>
        </span>
        <h2>
            <%= username %>
        </h2>
        <div class="img-overlay"></div>
        <p class="hidden cardAnimation">
            <!-- aqui ira aparecer o conteudo da materia -->

            <!-- por exemplo: 
           hoje falamos sobre matematica e a soma dos vetores bla bla
            -->
        </p>
    </div>
    <div class="card-content">
        <span class="materia-informacao">
            <p id="disciplina">
                <%= discipline %>
            </p>
            <p id="sumario">
                <%= summary %>
            </p>
            <p id="data">
                <%= date %>
            </p>
        </span>

        <div class="buttons">
            <!-- tenho de passar o id da materia com parametro para ele possa visualizar 
            tudo que esta relacionando com a materia com as fotos e ficheiros -->
            <button onclick="commentMaterial()" class="comment-btn">feedbacks <i class="fas fa-comment"></i></button>
            <!-- a mesma coisa para o preview -->
            <button onclick="previewMaterial()" class="preview-btn">Visualizar <i
                    class="fas fa-pen-to-square"></i></button>
        </div>
    </div>
</div>